* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: 'RobotoCondensed-LightItalic';
  src: url("../fonts/RobotoCondensed-LightItalic.ttf");
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: 'Balqis';
  src: url('../fonts/Balqis.woff'),
       url('../fonts/Balqis.woff2');
}

body {
  width: 100vw;
  height: 100vh;
}

.header {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-image: url(../img/bg-header.jpg);
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
}

.navigation,
.phone {
  font-family: 'RobotoCondensed-Regular';
  font-size: 24px;
  color: #000000;
  font-weight: 400;
}

.nav-item {
  display: inline-block;
}

.nav-item + .nav-item {
  margin-left: 52px;
}

.nav-link:hover {
  text-decoration: underline;
}

.phone {
  position: relative;
  padding-left: 40px;
}

.phone::before {
  position: absolute;
  content: url(../svg/icons/phone-black.svg);
  left:  0;
}

.heading {
  margin-top: 152px;
  text-align: center;
  font-family: 'Balqis';
  font-weight: 400;
  font-size: 250px;
}

.heading span {
  display: block;
  margin-top: -80px;
  text-align: right;
  font-size: 56px;
  font-family: 'RobotoCondensed-LightItalic';
  font-weight: 300;
}
