* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("../fonts/RobotoCondensed-Light.woff") format("woff"),
    url("../fonts/RobotoCondensed-Light.woff2") format("woff2");
}

@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src: url("../fonts/RobotoCondensed-LightItalic.woff") format("woff"),
    url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff"),
    url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Balqis";
  src: url("../fonts/Balqis.woff"), url("../fonts/Balqis.woff2") format("woff2");
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.header {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/bg-header.jpg);
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 72px;
}

.navigation,
.phone {
  font-family: "RobotoCondensed-Regular";
  font-size: 24px;
}

.nav-item {
  display: inline-block;
}

.nav-item + .nav-item {
  margin-left: 52px;
}

.nav-link {
  color: #000000;
}

.nav-link:hover {
  text-decoration: underline;
}

.phone {
  position: relative;
  padding-left: 40px;
  color: #000000;
}

.phone::before {
  position: absolute;
  content: url(../svg/icons/phone-black.svg);
  left: 0;
}

.heading {
  margin-top: 152px;
  text-align: center;
  font-family: "Balqis";
  font-weight: 400;
  font-size: 250px;
}

.heading span {
  display: block;
  margin-top: -80px;
  text-align: right;
  font-size: 56px;
  font-family: "RobotoCondensed-LightItalic";
  font-weight: 300;
}

/*main content */

.main {
  width: 100vw;
  padding-top: 10px;
}

.container-fairy-tail {
  height: 891px;
  margin-bottom: 437px;
}

.fairy-tail {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.sub-heading {
  width: 100%;
  font-size: 96px;
  font-weight: 400;
  font-family: Balqis;
  margin-left: 328px;
  color: #e2ab3f;
}

.sub-heading span {
  display: block;
  font-family: "RobotoCondensed-LightItalic";
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  margin: -30px 0 60px 188px;
  color: #000000;
}

.bg-fairy-tail {
  max-width: 960px;
  max-height: 700px;
}

.fairy-tail-content {
  display: flex;
}

.fairy-tail-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 300;
  font-size: 18px;
  width: 545px;
  margin-left: 55px;
}

.fairy-tail-text li {
  font-family: "RobotoCondensed-Light";
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.fairy-tail-text p {
  font-family: "RobotoCondensed-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* Our trip */

.our-trip-container {
  display: flex;
  width: 100%;
  height: 1095px;
  margin: 0 0 200px 360px;
}

.our-trip-content {
  display: flex;
  flex-direction: column;
  width: 296px;
  height: 100%;
}

.heading-trip {
  width: 330px;
  height: 125px;
  margin-bottom: 108px;
  font-size: 96px;
  font-weight: 400;
  font-family: Balqis;
  color: #e2ab3f;
}

.our-trip-content span {
  display: block;
  font-family: "RobotoCondensed-LightItalic";
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  margin: -30px 0 60px 240px;
  color: #000000;
}

.our-trip-content li {
  font-family: "RobotoCondensed-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
}

.our-trip-content li:first-child {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  padding-bottom: 20px;
  margin-top: 50px;
}

.bg-camel {
  display: inline-block;
  width: 960px;
  height: 1095px;
  margin-left: 304px;
}

.btn-our-trip {
  display: inline-block;
  text-align: center;
  width: 280px;
  border: 1px solid #e2ab3f;
  padding: 11px 53px 11px 54px;
  font-family: "RobotoCondensed-Light";
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-top: 50px;
}

.btn-our-trip:hover {
  background-color: rgba(245, 222, 179, 0.295);
}

/* Hotel */

.hotel-container {
  width: 1201px;
  height: 934px;
  margin-left: 361px;
}

.heading-hotel {
  font-size: 96px;
  font-weight: 400;
  font-family: Balqis;
  color: #e2ab3f;
}

.heading-hotel span {
  display: block;
  font-family: "RobotoCondensed-LightItalic";
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  color: #000000;
  margin: -30px 0 0 120px;
}

.hotel-content {
  display: flex;
  margin-top: 100px;
}

.hotel-bg {
  margin-right: 99px;
}

.section-hotel-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  row-gap: 50px;
}

.hotel-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 80px;
  font-family: "RobotoCondensed-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}

.section-hotel-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hotel-img2,
.hotel-img4 {
  margin-left: 39px;
}

/* Price */

.price {
  position: relative;
  max-width: 1305px;
  margin: 200px 0 0 360px;
}

.price-heading {
  font-size: 96px;
  font-weight: 400;
  font-family: Balqis;
  color: #e2ab3f;
}

.price-heading span {
  display: block;
  font-family: "RobotoCondensed-LightItalic";
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  color: #000000;
  margin: -30px 0 100px 120px;
}

.price-top {
  display: flex;
  height: 550px;
}

.price-on {
  max-width: 530px;
  margin-right: 70px;
}

.menu-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}

.menu-list-price {
  font-family: "RobotoCondensed-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}

.menu-price li:first-child {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.price-off {
  height: 72%;
}

.price-img-ballonon-big {
  position: absolute;
  right: 0;
  top: 160px;
}

.price-img-ballonon-small-1 {
  position: absolute;
  top: 322px;
  right: 250px;
}

.price-img-ballonon-small-2 {
  position: absolute;
  top: 500px;
  right: 165px;
}